/* html, body {
  height: 100%;
  width: 100%;
  padding-left: 275px;
  padding-top: 25px;
}
 */
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #09adc3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 150px;

  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.input {
  background: none;
  color: $muted-color;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: $width;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $muted-color;
  &:focus {
    outline: none;
  }
  &:focus ~ label,
  &:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: $hl-color;
  }
  &:focus ~ .bar:before {
    width: $width;
  }
}

.box:hover{
  background: #09adc3;
}

.box {
  float: left;
  width: 150px;
  text-align:center;
  border: 1px solid black;
  outline: black solid 1px;
  padding-bottom: 25px;

}

.currClass {
  text-transform: uppercase;
  font-size: 24px;
  padding-top: 50px;
  
}

.directions{
word-wrap: break-word;
   width: 655px;
  border: 1px solid black;
  outline: black solid 1px;
  text-align:center;
}


.form-floating {
  float: left;
  width:200px;
  margin-right:10px;
  margin-bottom: 10px;

  
}

.screen{
    height: 100%;
  width: 100%;
  padding-left: 275px;
  padding-top: 25px;
}

.mdc-deprecated-list-item:hover{
    background: #09adc3;
}

.mdc-typography--headline6{
  text-transform: uppercase;
  font-size: 24px;
  padding-bottom: 10px;
  
}


.mdc-tab mdc-tab--active {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.dataStore {
  text-align:center;
}


.storedData {
  text-align:center;
}

.home {
  text-align:center;
}

#coords {
  text-align:center;
}